.img-container {
    transform: scale(1.005);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: scale(1.005);
    -moz-transform: scale(1.005);
    -ms-transform: scale(1.005);
    -o-transform: scale(1.005);
}
  .img-container img {
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
  }

  .home_btns_wraper{

  }

  @media only screen and (max-width: 950px) {
    .home_logo_wraper{
      flex-direction: column;
    }
  }