.react-datepicker__input-container input{
padding: 2%;
}
.react-datepicker__input-container input {
    
    background: #FFFFFF;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 10px;
    
}
.bg-smoke-white{
    max-width: 1376px;
    max-height: 771px;
    width: 75%;
    height: 80%;
    min-width: 700px;
    min-height: 500px;
    margin-top: 0px;
}
.step_1{
    width: 70%;
    height: 80%;
    border-radius: 6px;
    margin: auto;
}